.corTerra{
    background-color: #8B4513;}
    
ul li a{
    color: white;
}
    
.corLetraBranco{
    color: white;
}   

.corVerdeEscuro{
    color: #006400;
}

ul.redeSocial{
    list-style: none;
    padding: 0;
}

.corFundo{
    background-color: #90EE90;
}