





<div class="container-fluid  text-center col-md-6 mt-5">
    <h1>Nossa história</h1>
    <div class="mt-3">
        <p>Diante do agravamento da crise alimentícia e da reaproximação do Brasil ao mapa da fome, agravadas pela pandemia do Sars-CoV-2, despertou-se em nós o anseio em ajudar a mitigar os danos causados pela insegurança alimentar e pela agricultura não sustentável. Dessa forma, surgiu a rede social FarturaHub. Inicialmente, o principal objetivo dessa rede é conectar pessoas que precisam de ajuda com pessoas que querem ajudar, sobretudo naquilo que diz respeito a alimentação e agricultura sustentável. Assim, por meio dessa ferramenta, além da ajuda entre os usuários, promove-se a arte do plantio sustentável, como forma de subsistência ou comércio.</p>
    </div>
      
</div>





<footer class="page-footer font-small bg corTerra pt-4 mt-5"> 
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Encontre-nos</h4>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">               
                <ul class = "redeSocial">
                    <li>
                     <a href="https://github.com/BrunodevBandeira/Generation-Brasil-Rede-Socia-FarturaHub" target="_blank"> <img src="https://i.imgur.com/v1Ocpz0.png" alt="Ícone do GitHub" width="30px" height="30px">
                    </a>                       
                    </li>
                </ul>
            </div>
        </div>   
    </div>
    
    <div class="footer-copyright bg-success text-center py-3">
        <span class="text-light"> Grupo 4, 2021 &copy;.  </span>
        <a class="text-light" target="_blank" href="https://github.com/BrunodevBandeira/Generation-Brasil-Rede-Socia-FarturaHub">FarturaHub</a>
    
    </div>
</footer>
    