<style>
    @import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
</style>


<!-- Nav -->
<div class="container-fluid">
    <div class="d-flex justify-content-end fixed-top ">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent  ">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navDropdown"
                aria-controls="navDropdown" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="col-mb-12">
                <div class="row">
                    <div class="collapse navbar-collapse ">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link btn btn-success mr-2 font-weight-bold" routerLink="/entrar">Entrar</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link btn btn-success mr-3 font-weight-bold" routerLink="/cadastrar">Cadastrar </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- /Nav -->

    <!--Carousel-->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" height=600px; src="https://i.imgur.com/4x29qL4.png" alt="Primeiro Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" height=600px; src="https://i.imgur.com/Apr613n.png" alt="Segundo Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" height=600px; src="https://i.imgur.com/CL90NIt.png" alt="Terceiro Slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
    <!--/Carousel-->

    <!--Jumbotron-->
    <div class="jumbotron jumbotron-fluid text-white corTerra ">
        <div class="container">
            <h1 class="display-4 text-center  ft-70 ft-t " >Valores</h1>
        </div>
    </div>
    <!--/Jumbotron-->

    <!--Card - valores -->
    <div class="container">
        <div class="row justify-content-center ">

            <div class="card text-white bg-warning mb-3 mr-2" style="max-width: 18rem;">
                <div class="card-body ">
                    <h5 class="card-title text-center p-5">Fome de ajudar quem precisa</h5>
                </div>
            </div>

            <div class="card text-white bg-warning mb-3 mr-2" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center p-5">Fome de aprender</h5>
                </div>
            </div>

            <div class="card text-white bg-warning mb-3 mr-2" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center p-4">Fome de lutar pelo fim da fome e pela agricultura sustentável
                    </h5>
                </div>
            </div>
        </div>
    </div>


    <!--/Card - valores-->

    <div class="jumbotron jumbotron-fluid text-white corTerra mt-5">
        <div class="container">
            <h1 class="display-4 text-center ft-70 ft-t">Desenvolvedores</h1>
        </div>
    </div>


    <div class="container">

         <!-- Seis colunas sobre os desenvolvedores -->
         <div class="row mb-4">

            <div class="col-lg-4 dev">
                <div class="d-flex justify-content-center">
                    <img class="rounded-circle" src="https://i.imgur.com/zDduTLw.png" alt="Generic placeholder image"
                        width="180" height="180">
                </div>

                <h2 class="text-center">Bruno Bandeira</h2>
                <p class="text-center"> "O homem não é nada alem daquilo que a educação faz dele" </p>
                <div class="d-flex justify-content-center">
                    <a class="mr-2" href="https://github.com/BrunodevBandeira" target="_blank">
                        <img src="https://i.imgur.com/v1Ocpz0.png" alt="Ícone do GitHub" width="30px" height="30px">
                    </a>
                    <a href="https://www.linkedin.com/in/bruno-alves-bandeira-64193515a/" target="_blank">
                        <img src="https://i.imgur.com/u7I1UGV.png" alt="Ícone do Linkedin" width="30px" height="30px">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 dev">
                <div class="d-flex justify-content-center">
                    <img class="rounded-circle" src="https://i.imgur.com/MIcxhF2.png" alt="Generic placeholder image"
                        width="180" height="180">
                </div>

                <h2 class="text-center">Giulliana Munhoz</h2>
                <p class="text-center"> "O que importa na vida não é o ponto de partida, mas a caminhada." </p>
                <div class="d-flex justify-content-center">
                    <a class="mr-2" href="https://github.com/giullliana" target="_blank">
                        <img src="https://i.imgur.com/v1Ocpz0.png" alt="Ícone do GitHub" width="30px" height="30px">
                    </a>
                    <a href="https://www.linkedin.com/in/giulliana-munhoz/" target="_blank">
                        <img src="https://i.imgur.com/u7I1UGV.png" alt="Ícone do Linkedin" width="30px" height="30px">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 dev">
                <div class="d-flex justify-content-center">
                    <img class="rounded-circle" src="https://i.imgur.com/6EZStDw.png" alt="Generic placeholder image"
                        width="180" height="180">
                </div>

                <h2 class="text-center">Murilo Paulino</h2>
                <p class="text-center">"Regala-te se puderes e come se ousares" </p>
                <div class="d-flex justify-content-center">
                    <a class="mr-2" href="https://github.com/murilo-pm" target="_blank">
                        <img src="https://i.imgur.com/v1Ocpz0.png" alt="Ícone do GitHub" width="30px" height="30px">
                    </a>
                    <a href="https://www.linkedin.com/in/murilo-p-708885104/" target="_blank">
                        <img src="https://i.imgur.com/u7I1UGV.png" alt="Ícone do Linkedin" width="30px" height="30px">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container ">
        <div class="row mb-4">

            <div class="col-lg-4 dev">
                <div class="d-flex justify-content-center">
                    <img class="rounded-circle" src="https://i.imgur.com/t9YmRY3.png" alt="Generic placeholder image"
                        width="180" height="180">
                </div>

                <h2 class="text-center">Nayane Amorim</h2>
                <p class="text-center"> "Não sabendo que era impossível foi lá e fez"</p>
                <div class="d-flex justify-content-center">
                    <a class="mr-2" href="https://github.com/Nayaneast" target="_blank">
                        <img src="https://i.imgur.com/v1Ocpz0.png" alt="Ícone do GitHub" width="30px" height="30px">
                    </a>
                    <a href="https://www.linkedin.com/in/nayaneamorim/" target="_blank">
                        <img src="https://i.imgur.com/u7I1UGV.png" alt="Ícone do Linkedin" width="30px" height="30px">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 dev">
                <div class="d-flex justify-content-center">
                    <img class="rounded-circle" src="https://i.imgur.com/30TdMR7.png" alt="Generic placeholder image"
                        width="180" height="180">
                </div>

                <h2 class="text-center">Stephany Macedo</h2>
                <p class="text-center"> "Você é o criador do seu próprio mérito"</p>
                <div class="d-flex justify-content-center">
                    <a class="mr-2" href="https://github.com/stephanymacedo" target="_blank">
                        <img src="https://i.imgur.com/v1Ocpz0.png" alt="Ícone do GitHub" width="30px" height="30px">
                    </a>
                    <a href="https://www.linkedin.com/in/stephanymacedo/" target="_blank">
                        <img src="https://i.imgur.com/u7I1UGV.png" alt="Ícone do Linkedin" width="30px" height="30px">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 dev">
                <div class="d-flex justify-content-center">
                    <img class="rounded-circle" src="https://i.imgur.com/0UhBsWe.png" alt="Generic placeholder image"
                        width="180" height="180">
                </div>

                <h2 class="text-center">Thales Santana</h2>
                <p class="text-center"> "Voir la vie en rose"</p>
                <div class="d-flex justify-content-center">
                    <a class="mr-2" href="https://github.com/Thales-Santan?tab=repositories" target="_blank">
                        <img src="https://i.imgur.com/v1Ocpz0.png" alt="Ícone do GitHub" width="30px" height="30px">
                    </a>
                    <a href="https://www.linkedin.com/in/thales-ferreira-santana-782403186/" target="_blank">
                        <img src="https://i.imgur.com/u7I1UGV.png" alt="Ícone do Linkedin" width="30px" height="30px">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--/Desenvolvedores-->

    <!--Footer-->
    <div class="row float-right mr-4">
        <p><a href="#"> <img src="https://www.consultoriasf.com.br/images/seta-cima.png" alt="Retourner au Début"
                    width="50" height="50"></a></p>
    </div>

    <hr class="mt-5">
    <footer class="corTerra">
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <h4 class="text-white">Encontre-nos</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <ul class="redeSocial">
                        <li>
                            <a href="https://github.com/BrunodevBandeira/Generation-Brasil-Rede-Socia-FarturaHub"
                                target="_blank"> <img src="https://i.imgur.com/v1Ocpz0.png" alt="Ícone do GitHub"
                                    width="30px" height="30px">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright bg-success text-center py-3">
            <span class="text-light"> Grupo 4, 2021 &copy;. </span>
            <a class="text-light" target="_blank"
                href="https://github.com/BrunodevBandeira/Generation-Brasil-Rede-Socia-FarturaHub%22%3EFarturaHub"></a>

        </div>


    </footer>

</div>
